<!--experience start -->
<section id="experience" class="experience">
    <div class="section-heading text-center">
      <h2>experience</h2>
    </div>
    <div class="container">
      <div class="experience-content">
          <div class="main-timeline">
            <ul>
              <li>
                <div class="single-timeline-box fix">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="experience-time text-right">
                        <h2>2018 - Present</h2>
                        <h3>Sr. Software Engineer</h3>
                      </div><!--/.experience-time-->
                    </div><!--/.col-->
                    <div class="col-md-offset-1 col-md-5">
                      <div class="timeline">
                        <div class="timeline-content">
                          <h4 class="title">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            MindCubed
                          </h4>
                          <h5>Washington, DC</h5>
                          <p class="description">
                              Developed DTMS3.0 web application using Asp.net core, MVC, WebApi and SQL
                              Server, jQuery, Javascript, Bootstrap SmartAdmin UI, CSS3.
                              Enhanced User Interface and implemented section 508 compliance
                              Followed Agile software development methodology and team architecture and
                              application security standards
                              Participated in design, code, and test inspections throughout life cycle to identify
                              issues/defects 
                              Build a cross-platform and cross-browser front-end in DevOps environment with continuous integration, regression testing, and deployment 
                              Support design and development of enterprise web front-end and back end using technologies 
                              
                          </p>
                        </div><!--/.timeline-content-->
                      </div><!--/.timeline-->
                    </div><!--/.col-->
                  </div>
                </div><!--/.single-timeline-box-->
              </li>

              <li>
                <div class="single-timeline-box fix">
                  <div class="row">
                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                      <div class="experience-time">
                        <h2>
                          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          2015 - Present
                        </h2>
                        <h3>Instructor</h3>
                      </div><!--/.experience-time-->
                    </div><!--/.col-->
                    <div class="col-md-5">
                      <div class="timeline">
                        <div class="timeline-content text-right">
                          <h4 class="title">
                            Umiversity Of Maryland Baltimore County
                          </h4>
                          <h5>Baltimore, MD</h5>
                          <p class="description">
                                 Expertly instruct students in Teach Object-Oriented Programming and System Analysis and Design
                                Professionally prepare materials and lessons to facilitate curriculum. 
                                Adeptly provide relevant assignments for students that demonstrate learning outcomes in a real-life setting.
                                Introduced JAVA as a programming language and GitHub for code repository to the students in building real world applications.
                                Taught SDLC process and provided hands-on knowledge about agile software development process.
                              
                          </p>
                        </div><!--/.timeline-content-->
                      </div><!--/.timeline-->
                    </div><!--/.col-->
                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                      <div class="experience-time">
                        <h2>
                          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          2015 - Present
                        </h2>
                        <h3>Adjunct Faculty</h3>
                      </div><!--/.experience-time-->
                    </div><!--/.col-->
                  </div>
                </div><!--/.single-timeline-box-->
              </li>

              <li>
                <div class="single-timeline-box fix">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="experience-time text-right">
                        <h2>2015 - 2018</h2>
                        <h3>Sr. Full Stack Software Engineer</h3>
                      </div><!--/.experience-time-->
                    </div><!--/.col-->
                    <div class="col-md-offset-1 col-md-5">
                      <div class="timeline">
                        <div class="timeline-content">
                          <h4 class="title">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          Cipher Systems
                          </h4>
                          <h5>Annapolis, MD</h5>
                          <p class="description">
                                Worked closely with the product managers, infrastructure and development teams to help deliver 
                              innovative, world-class SaaS solutions. . https://cipher.knowledge-360.com/
                                Mentored and managed a small team throughout the development process. Implemented technologies such as ASP.NET MVC, Web API, C#, Entity Framework, Knockout JS, Javascript, Ajax, Bootstrap, Apache Solr, SQL server, Stanford NLP. Machine Learning and Amazon web services.
                                Integrated various data sources, real-time news aggregation, premium financial data, competitors job posting with filed intelligence data and analysis to automatically indexed and analyzed using cutting edge semantic technology (Stanford NLP).
                                Integrated Kibana and Elasticsearch in an application to get real time insights. 
                                Built features for competitive intelligence and knowledge management software.
                                Developed Competitive Intelligence Analytic tool to gather information about the client and 
                              make predictions to better serve clients
                              
                          </p>
                        </div><!--/.timeline-content-->
                      </div><!--/.timeline-->
                    </div><!--/.col-->
                  </div>
                </div><!--/.single-timeline-box-->
              </li>

              <li>
                <div class="single-timeline-box fix">
                  <div class="row">
                    <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                      <div class="experience-time">
                        <h2>
                          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          2014 - 2015
                        </h2>
                        <h3>Sr. Full Stack Software Developer </h3>
                      </div><!--/.experience-time-->
                    </div><!--/.col-->
                    <div class="col-md-5">
                      <div class="timeline">
                        <div class="timeline-content text-right">
                          <h4 class="title">
                            Ascend Once
                          </h4>
                          <h5>Columbia, MD</h5>
                          <p class="description">
                              •	Developed Medical Recommendation System using Microsoft Technology such as ASP.net MVC, WCF, SQL Server 2012, Bootstrap, Javascript etc. 
                              •	Developed Nava Health and Vitality Center web applications to support clients all around the MD, DC and VA areas. Implemented responsive design to support tablet and mobile devices (http:navacenter.com).
                              •	Supported intranet based and public facing web applications built under .Net platforms.
                              •	Created custom widgets using for Telerik Sitefinity CMS
                              
                          </p>
                        </div><!--/.timeline-content-->
                      </div><!--/.timeline-->
                    </div><!--/.col-->
                    <div class="col-md-offset-1 col-md-5 experience-time-main">
                      <div class="experience-time">
                        <h2>
                          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          2014 - 2015
                        </h2>
                        <h3>Sr. Full Stack Software Developer </h3>
                      </div><!--/.experience-time-->
                    </div><!--/.col-->
                  </div>
                </div><!--/.single-timeline-box-->
              </li>

              <li>
                <div class="single-timeline-box fix">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="experience-time text-right">
                        <h2>2011 - 2014</h2>
                        <h3>Software Engineer/Web Application Developer </h3>
                      </div><!--/.experience-time-->
                    </div><!--/.col-->
                    <div class="col-md-offset-1 col-md-5">
                      <div class="timeline">
                        <div class="timeline-content">
                          <h4 class="title">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                            Vistronix Inc Client: US EPA/CBPO (Environmental Protection Agency)
                          </h4>
                          <h5>Annapolis, MD</h5>
                          <p class="description">
                              •	Developed scheduler system under ASP.NET MVC framework using technology such as Web API, Elmah, Windows Service, WCF, Kendo UI, jQuery, Entity Framework, HTML5, CSS3, and jQuery Mobile (http://schedule.chesapeakebay.net/).
                              •	Developed Data Evaluation Upload Tools (DEUT) for multiple federal agencies to evaluate scientific water quality data. Implemented technologies such as ASP.NET, C#, and WCF services under N-Tier application using LINQ and OO architecture model (http://duet.chesapeakebay.net/).
                              •	Developed Contractual Agreement Tracking System (CATS) for EPA to track distribution of government funding. Leveraged technologies such as ASP.NET, C#, Web Services, LINQ, HTML5, CSS3, and Bootstrap framework (http://cats.chesapeakebay.net).
                              •	Responsible for developing user interface and programming to support secure Web application used by multiple Federal agencies and partnership organizations using ASP.NET, C#, SQL Server, and accessibility and Section 508 compliance guidelines (http://eots.chesapeakebay.net/).
                              •	Redesigned responsive website (http://www.bayjournal.com) under Expression Engine content management system to support more than 50 authors in publishing their daily news and articles.
                              •	Work collaboratively with staff scientists and subject matter experts.
                              •	Led the team for developing and supporting scientifically sound, auditable, repeatable, and well-documented scientific applications. 
                              •	Developed SOA Web application to extract data from SQL server into Rest-based services for Chesapeake Bay DataHub project (data.chesapeakeabay.net).
                              
                          </p>
                        </div><!--/.timeline-content-->
                      </div><!--/.timeline-->
                    </div><!--/.col-->
                  </div>
                </div><!--/.single-timeline-box-->
              </li>

            </ul>
          </div><!--.main-timeline-->
        </div><!--.experience-content-->
    </div>

  </section><!--/.experience-->
  <!--experience end -->