<!--Pricing Tables-->
<section id="gallery" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

      <div class="section-heading">
         
          <h2 class="section-title">PORTFOLIOS</h2>
      </div>

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
          <div class="pricing-block-content">
              <h3>MSTechLogistics.com</h3>
              <p class="pricing-sub"><a href="http://shivaprogramming.com/mstech/" target="_blank">MSTechLogistics.com</a></p>
              <div class="pricing">
                
                    <img  src="../../assets/images/portfolio/mstl.PNG"/>
 
              </div>
              <ul>
                  <li>Technology: HTML5, CSS3 , Material Design, Jquery, PHP, etc</li>
                  
              </ul>
            
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block featured col-4 wow fadeInUp" data-wow-delay="0.6s">
          <div class="pricing-block-content">
              <h3>Foosball.com</h3>
              <p class="pricing-sub"><a href="http://foosball.com/" target="_blank">Foosball.com</a></p>
              <div class="">
                
                  <img  src="../../assets/images/portfolio/foosball.png"/>
              </div>
              <ul>
                  <li>Technology: HTML5, CSS3 , Expression Enginge, Jquery, PHP, etc</li>
                  
              </ul>
              
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
          <div class="pricing-block-content">
              <h3>Select Printing</h3>
              <p class="pricing-sub"><a href="https://userpages.umbc.edu/~ss12/selectprintdesign/" target="_blank">Select Printing</a></p>
              <div class="">
                
                  <img  src="../../assets/images/portfolio/sp.png"/>
              </div>
              <ul>
                  <li>Technology:HTML, CSS3, jquery, php</li>
              
              </ul>
             
          </div>
      </div>
      <!--End Pricing Block-->

       <!--Pricing Block-->
       <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
        <div class="pricing-block-content">
            <h3>B&D (ESD)</h3>
            <p class="pricing-sub"><a href="https://userpages.umbc.edu/~ss12/esd/index.html" target="_blank">B&D ESD</a></p>
            <div class="pricing">
              
                  <img  src="../../assets/images/portfolio/esd.png"/>

            </div>
            <ul>
                <li>Technology: HTML5, CSS3 , Jquery, Asp.net, etc</li>
                
            </ul>
          
        </div>
    </div>
    <!--End Pricing Block-->

    <!--Pricing Block-->
    <div class="pricing-block featured col-4 wow fadeInUp" data-wow-delay="0.6s">
        <div class="pricing-block-content">
            <h3>IS Audiostudies Research</h3>
            <p class="pricing-sub"><a href="http://shivaprogramming.com/portfolio/audiostudies/index.html" target="_blank">IS Audiostudies Research</a></p>
            <div class="">
              
                <img  src="../../assets/images/portfolio/audiostudies.png"/>
            </div>
            <ul>
                <li>  Technology:HTML5, CSS3, jquery,C#, SQL Server 2008</li>
                
            </ul>
            
        </div>
    </div>
    <!--End Pricing Block-->

    <!--Pricing Block-->
    <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
        <div class="pricing-block-content">
            <h3>GiftinNepal</h3>
            <p class="pricing-sub"><a href="https://userpages.umbc.edu/~ss12/selectprintdesign/" target="_blank">GiftinNepal</a></p>
            <div class="">
              
                <img  src="../../assets/images/portfolio/ginl.png"/>
            </div>
            <ul>
                <li>Technology: HTML5, CSS3, jquery, Yahoo web store CMS, Twitter Bootstrap</li>
            
            </ul>
           
        </div>
    </div>
    <!--End Pricing Block-->

  </div>
</section>
<!--End of Pricing Tables-->