<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <div id="header" class="nav-collapse">
      <div class="row clearfix">
          <div class="col-1">

              <!--Logo-->
              <div id="logo">

                  <!--Logo that is shown on the banner-->
                  <!-- <img src="assets/images/logo.png" id="banner-logo" alt="Landing Page"/> -->
                  <!--End of Banner Logo-->

                  <!--The Logo that is shown on the sticky Navigation Bar-->
                  <!-- <img src="assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/> -->
                  <!--End of Navigation Logo-->

              </div>
              <!--End of Logo-->

              <aside>
           <app-social></app-social>

              </aside>

             <app-navigation></app-navigation>

              <div id="nav-trigger"><span></span></div>
              <nav id="nav-mobile"></nav>

          </div>
      </div>
  </div><!--End of Header-->

  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">

      <div class="col-38">

          <div class="section-heading">
              <h1>WELCOME TO </h1>
              <h1>SHIVAPROGRAMMING</h1>
              <h2>"impossible is just a word, not a reality"</h2>
          </div>
      </div>

  </div><!--End of Row-->
</header>

