 <!--Introduction-->
 <section id="about" class="introduction scrollto">

  <div class="row clearfix">

      <div class="col-3">
          <div class="section-heading">
              <h3>SKILLS</h3>
              <h2 class="section-title">Experience working with</h2>
              <p class="section-subtitle">Think outside the box when it come to development</p>
          </div>

      </div>

      <div class="col-2-3">

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-html5 fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>WEB INTERFACE</h4>
                  <p>Has ne tritani atomorum conclusionemque, in dolorum volumus cotidieque eum. At vis choro
                      neglegentur iudico</p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-bolt fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>SOFTWARE</h4>
                  <p>Cu vero ipsum vim, doctus facilisi sea in. Eam ex falli honestatis repudiandae, sit
                      detracto mediocrem disputationi</p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-tablet fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>Database</h4>
                  <p>Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro
                      nemore vivendum</p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-heart tile-heart fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>Graphics</h4>
                  <p>Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit debet ea sit, an pro
                      nemore vivendum</p>
              </div>
          </div>
          <!--End of Icon Block-->

      </div>

  </div>


</section>
<!--End of Introduction-->
