<header class="top-area">
	<div class="header-area">
		<!-- Start Navigation -->
		<nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

			<div class="container">

				<!-- Start Header Navigation -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="index.html">ShivaProgramming.com</a>
				</div>
				<!--/.navbar-header-->
				<!-- End Header Navigation -->

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
					<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
						<li class=" smooth-menu active"></li>
						<li class="smooth-menu"><a href="#about">about</a></li>
						<li class=" smooth-menu"><a href="#education">education</a></li>
						<li class="smooth-menu"><a href="#skills">skills</a></li>
						<li class="smooth-menu"><a href="#experience">experience</a></li>
						<li class="smooth-menu"><a href="#portfolio">portfolio</a></li>
						<li class="smooth-menu1"><a href="http://www.shivaprogramming.com/blog" target="_blank"
								rel="noreferrer noopener">blog</a></li>
						<li class="smooth-menu"><a href="#contact">contact</a></li>
						<!--<li class="smooth-menu1"><a class="main-item" (click)="onNavigate()">blog</a></li> -->

					</ul>
					<!--/.nav -->
				</div><!-- /.navbar-collapse -->
			</div>
			<!--/.container-->
		</nav>
		<!--/nav-->
		<!-- End Navigation -->
	</div>
	<!--/.header-area-->

	<div class="clearfix"></div>

</header><!-- /.top-area-->