	<!--portfolio start -->
  <section id="portfolio" class="portfolio">
			<div class="portfolio-details">
				<div class="section-heading text-center">
					<h2>portfolio</h2>
				</div>
				<div class="container">
					<div class="portfolio-content">
						<div class="isotope">
							<div class="row">

								<div class="col-sm-4">
									<div class="item">
										<img src="assets/images/portfolio/mstl.PNG" alt="portfolio image"/>
										<div class="isotope-overlay">
											<a href="http://shivaprogramming.com/mstech/" target="_blank">
												Web application
											</a>
										</div><!-- /.isotope-overlay -->
									</div><!-- /.item -->
									<div class="item">
										<img src="assets/images/portfolio/foosball.png" alt="portfolio image"/>
										<div class="isotope-overlay">
											<a href="http://foosball.com" target="_blank">
												Web Application for foosball  fans
											</a>
										</div><!-- /.isotope-overlay -->
									</div><!-- /.item -->
								</div><!-- /.col -->

								<div class="col-sm-4">
									<div class="item">
										<img src="assets/images/portfolio/esd.png" alt="portfolio image"/>
										<div class="isotope-overlay">
											<a href="https://userpages.umbc.edu/~ss12/esd/index.html" target="_blank">
													Database Development
											</a>
										</div><!-- /.isotope-overlay -->
									</div><!-- /.item -->
									<div class="item">
											<img src="assets/images/portfolio/audiostudies.png" alt="portfolio image"/>
											<div class="isotope-overlay">
												<a href="http://shivaprogramming.com/portfolio/audiostudies/index.html" target="_blank">
													Web Application 
												</a>
											</div><!-- /.isotope-overlay -->
										</div><!-- /.item -->
								</div><!-- /.col -->

								<div class="col-sm-4">
									<div class="item">
										<img src="assets/images/portfolio/ginl.png" alt="portfolio image"/>
										<div class="isotope-overlay">
											<a href="#">
												Ecommere Web Application
											</a>
										</div><!-- /.isotope-overlay -->
									</div><!-- /.item -->
									
								</div><!-- /.col -->


								<div class="col-sm-4">
										<div class="item">
												<img src="assets/images/portfolio/sp.png" alt="portfolio image"/>
												<div class="isotope-overlay">
													<a href="https://userpages.umbc.edu/~ss12/selectprintdesign/" target="_blank">
														web development
													</a>
												</div><!-- /.isotope-overlay -->
											</div><!-- /.item -->
										
									</div><!-- /.col -->


							</div><!-- /.row -->
						</div><!--/.isotope-->
					</div><!--/.gallery-content-->
				</div><!--/.container-->
			</div><!--/.portfolio-details-->

		</section><!--/.portfolio-->
		<!--portfolio end -->