	<!--education start -->
  <section id="education" class="education">
      <div class="section-heading text-center">
        <h2>education</h2>
      </div>
      <div class="container">
        <div class="education-horizontal-timeline">
          <div class="row">
            <div class="col-sm-4">
              <div class="single-horizontal-timeline">
                <div class="experience-time">
                  <h2>2010 - 2012</h2>
                  <h3>master <span>of </span> science, Information Systems</h3>
                </div><!--/.experience-time-->
                <div class="timeline-horizontal-border">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="single-timeline-horizontal"></span>
                </div>
                <div class="timeline">
                  <div class="timeline-content">
                    <h4 class="title">
                      university of Maryland Baltimore County
                    </h4>
                    <h5>Baltimore MD, USA</h5>
                    
                  </div><!--/.timeline-content-->
                </div><!--/.timeline-->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="single-horizontal-timeline">
                <div class="experience-time">
                  <h2>2008 - 2010</h2>
                  <h3>bachelor <span>of </span> science, Information Systems</h3>
                </div><!--/.experience-time-->
                <div class="timeline-horizontal-border">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="single-timeline-horizontal"></span>
                </div>
                <div class="timeline">
                  <div class="timeline-content">
                      <h4 class="title">
                          university of Maryland Baltimore County
                        </h4>
                        <h5>Baltimore MD, USA</h5>
                  </div><!--/.timeline-content-->
                </div><!--/.timeline-->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="single-horizontal-timeline">
                <div class="experience-time">
                  <h2>2006 - 2008</h2>
                  <h3>Associates <span>of </span> science, Information Systems</h3>
                </div><!--/.experience-time-->
                <div class="timeline-horizontal-border">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                  <span class="single-timeline-horizontal spacial-horizontal-line
                  "></span>
                </div>
                <div class="timeline">
                  <div class="timeline-content">
                    <h4 class="title">
                      Anne Arundel Community College (AACC)
                    </h4>
                    <h5>Arnold, Maryland</h5>
                    
                  </div><!--/.timeline-content-->
                </div><!--/.timeline-->
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!--/.education-->
    <!--education end -->