<app-nav></app-nav>
<app-intro></app-intro>
<app-about></app-about>
<app-education></app-education>
<app-skill></app-skill>
<app-experience></app-experience>
<app-portfolio></app-portfolio>
<app-contact></app-contact>
<app-footer></app-footer>



