   <!--about start -->
   <section id="about" class="about">
      <div class="section-heading text-center">
        <h2>about me</h2>
      </div>
      <div class="container">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <div class="single-about-txt">
                <h3>
                  Fullstack Developer
                </h3>
                <ul>
                   <li> The full stack certified AWS software developer with more than 8 years of experience architecting, implementing and leading software solutions across web, mobile environment. </li>
                   <li>An efficient, goal-oriented team player with demonstrated success in designing innovative web applications and software for various industries, including Federal agencies, higher education, and leading website design firms</li>
                   <li>A creative problem solver able to manage multiple projects simultaneously, while paying critical attention to detail</li>
                   <li>An excellent communicator; tri-lingual in English, Hindi and Nepali with the ability to convey technical terms to non-technical end users </li>
                   <li>Knowledge of building interfaces according to Section508, WCA, and WAI-ARIA standards.</li>
                   <li>Agile Software Design Principles, Website & User Interface Design, Information Architecture and Strong Research Skills</li>
                   <li>Plan, design, build, test, deploy and maintain highly scalable web-based services using modern technologies.</li>
                   <li>Knowledge of CI/CD pipeline and ability to deploy services to the customer development environment.</li>
                
                </ul>
                  
                    

                
                <div class="row">
                  
                  <div class="col-sm-6">
                    <div class="single-about-add-info">
                      <h3>email</h3>
                      <p>shivathebravo@gmail.com</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="single-about-add-info">
                      <h3>website</h3>
                      <p> <a href="www.shivaprogramming.com">ShivaProgramming.com</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-offset-1 col-sm-5">
              <div class="single-about-img">
                <img src="assets/images/about/profile.png" alt="profile_image">
                <div class="about-list-icon">
                  <ul>
                    <li>
                      <a href="#">
                        <i  class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li><!-- / li -->
                    <li>
                      <a href="#">
                        <i  class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                      
                    </li><!-- / li -->
                    <li>
                      <a href="#">
                        <i  class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                      
                    </li><!-- / li -->
                    <li>
                      <a href="#">
                        <i  class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                    </li><!-- / li -->
                    <li>
                      <a href="#">
                        <i  class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li><!-- / li -->
                    
                    
                  </ul><!-- / ul -->
                </div><!-- /.about-list-icon -->

              </div>

            </div>
          </div>
        </div>
      </div>
    </section><!--/.about-->
    <!--about end -->