<!--skills start -->
<section id="skills" class="skills">
    <div class="skill-content">
      <div class="section-heading text-center">
        <h2>skills</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <section class="icons">
                  <div class="row">
                    <!--first  row mobile-->
                    <div class=" col-sm-2 col-xs-2 service-item col-md-2 ">
                      <span class="top-icon service-icon tile-html5 tile-html5-desk"><i class="fa fa-html5"></i> </span>
                    </div>
    
                    <div class=" col-xs-2 col-md-2">
                      <span class="top-icon service-icon tile-css3 tile-css3-desk"><i class="fa fa-css3"></i> </span>
                    </div>
                    <div class=" col-xs-2 col-md-2">
                      <span class="top-icon service-icon tile-github tile-github-desk"><i class="fa fa-github"></i> </span>
                    </div>
                    <div class=" col-xs-2 col-md-2">
                      <span class="top-icon service-icon tile-apple tile-apple-desk"><i class="fa fa-apple"></i> </span>
                    </div>
                    <div class=" col-xs-2 col-md-2">
                      <span class="top-icon service-icon tile-sharp tile-csharp-desk"><span>C#</span> </span>
                    </div>
    
                    <div class=" col-xs-2 col-md-2">
                      <span class=" top-icon service-icon tile-linux tile-linux-desk"><i class="fa fa-linux"></i> </span>
                    </div>
                    <!--second row mobile-->
    
    
                    <div class=" col-xs-2 col-md-2">
                      <span class="top-icon service-icon tile-windows tile-windows-desk"><i class="fa fa-windows"></i> </span>
                    </div>
    
                    <div class=" col-xs-2 col-md-2">
                      <span class="  top-icon service-icon tile-database tile-database-desk"><i class="fa fa-database"></i> </span>
                    </div>
    
                    <div class=" col-xs-2 col-md-2">
                      <span class="  top-icon service-icon tile-mobile tile-mobile-desk"><i class="fa fa-mobile"></i> </span>
                    </div>
                    <!--Third row mobile-->
    
    
                    <div class=" col-xs-2 col-md-2">
                      <span class="  top-icon service-icon tile-android tile-android-desk"><i class="fa fa-android"></i> </span>
                    </div>
                    <div class="col-xs-2 col-md-2">
                      <span class=" top-icon service-icon tile-database tile-database-desk"><i class="fa fa-laptop"></i> </span>
    
                    </div>
                    <div class="col-xs-2 col-md-2 service-item ">
                      <span class="top-icon service-icon tile-lime tile-css3 tile-css3-desk"><i class="fa fa-th-large"></i> </span>
                    </div>
    
                    <div class="col-xs-2 col-md-2 service-item ">
                      <span class=" top-icon service-icon tile-desk "><img src="https://img.icons8.com/color/48/000000/gitlab.png"></span>
                    </div>
    
                    <div class="col-xs-2 col-md-2 service-item ">
                      <span class=" top-icon service-icon tile-d tile-d-desk"><i class="fa fa-openid"></i> </span>
                    </div>
    
                    <div class="col-xs-2 col-md-2 service-item">
                      <span class="top-icon service-icon tile-linked tile-linked-desk "><i class="fa fa-linkedin"></i> </span>
                    </div>
    
                    <div class="col-xs-2 col-md-2 service-item ">
                      <span class="top-icon service-icon tile-twitter "><img src="https://img.icons8.com/color/48/000000/docker.png"></span>
                    </div>
                    <div class="col-xs-2 col-md-2 service-item ">
                      <span class="top-icon service-icon tile-google tile-google-desk"><i class="fa fa-google"></i> </span>
                    </div>
                    <div class="col-xs-2 col-md-2 service-item ">
                      <span class="top-icon service-icon tile-facebook "><img src="https://img.icons8.com/windows/48/000000/jenkins.png"> </span>
                    </div>
    
                  </div>
  
          </section>
          </div>
        </div><!-- /.row -->
      </div>	<!-- /.container -->		
    </div><!-- /.skill-content-->

</section><!--/.skills-->
<!--skills end -->